doctype html
html
  head
    title Proposal Generator
  body#app
    h1 Adelyte Proposal Generator
    select(v-model="selected.processor")
      option(v-for="processor in processors" v-bind:value="processor") {{ processor.name }}
    span Selected Processor: {{ selected.processor ? selected.processor.name : 'None'}}
    button(@click='downloadPDF()') Download PDF

    //- NOTE: Keep this script at the bottom!
    script(type='text/javascript', src='main.js')

